.example-container{
    text-align: center;
    margin: 100px auto 10px auto;
    max-width: 500px;
    padding: 10px;
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}

.userNotFound {
    color: red !important;
    font-weight: 100;
    text-align: left !important;
    padding: 0;
}

.logInLabel{
    font-size:  30px !important;
    font-weight: bold;
}